:root {
  --text: #444;
  --text-inverse: #fff;
  --text-light: #999;
  --text-dark: #212427;
  --background: #fff;
  --highlight: #356df1;
  --highlight-light: #e1e9fd;
  --highlight-dark: #082645;
  --green: #34c759;
  --yellow: #ffb60a;
  --yellow-text: #ff971a;
  --yellow-bg: #ffdf9e;
  --green-text: #00d084;
  --green-bg: #d4f5e7;
  --blue-text: #356df1;
  --blue-bg: #e1e9fd;
  --pink-text: #ef6a85;
  --pink-bg: #ffdaf5;
  --orange: #ff971a;
  --red: #f02d00;
  --grey: #f5f7f8;
  --grey-alt: #ecedef;
  --grey-light: #e4e4e4;
  --grey-lighter: #eff3f4;
  --grey-medium: #999;

  --offset: 10px;
  --offset-alt: 15px;
  --offset-m: 25px;

  --border-radius: 10px;
  --border-radius-l: 20px;
}

body {
  font: 400 16px/1.6 var(--font-inter);
  color: var(--text);
  background-color: var(--background);
}

h1,
h2,
h5 {
  font-family: var(--font-poppins);
  line-height: 1.3;
  color: var(--text-dark);
  margin-bottom: var(--offset);
}

h1 strong,
h2 strong {
  color: var(--highlight);
}

h3,
h4,
h5 {
  font-weight: 600;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
  line-height: 1.4;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
  line-height: 1.4;
}

.text--center {
  text-align: center;
}
