.breadcrumbs {
  font-size: 14px;
  line-height: 1.2;
  background-color: var(--highlight-light);
  padding: 20px 0;
}

.breadcrumbs ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.breadcrumbs svg {
  color: var(--text-light);
  width: 7px;
}
